/* CSS */
pale-cerulean: hsla(204, 57%, 72%, 1);
violet-blue-crayola: hsla(245, 32%, 60%, 1);
metallic-seaweed: hsla(187, 68%, 36%, 1);
dark-turquoise: hsla(181, 90%, 42%, 1);
turquoise-blue: hsla(178, 100%, 54%, 1);


/* SCSS Gradient
$gradient-top: linear-gradient(0deg, #8fbfe0ff, #7c77b9ff, #1d8a99ff, #0bc9cdff, #14fff7ff);
$gradient-right: linear-gradient(90deg, #8fbfe0ff, #7c77b9ff, #1d8a99ff, #0bc9cdff, #14fff7ff);
$gradient-bottom: linear-gradient(180deg, #8fbfe0ff, #7c77b9ff, #1d8a99ff, #0bc9cdff, #14fff7ff);
$gradient-left: linear-gradient(270deg, #8fbfe0ff, #7c77b9ff, #1d8a99ff, #0bc9cdff, #14fff7ff);
$gradient-top-right: linear-gradient(45deg, #8fbfe0ff, #7c77b9ff, #1d8a99ff, #0bc9cdff, #14fff7ff);
$gradient-bottom-right: linear-gradient(135deg, #8fbfe0ff, #7c77b9ff, #1d8a99ff, #0bc9cdff, #14fff7ff);
$gradient-top-left: linear-gradient(225deg, #8fbfe0ff, #7c77b9ff, #1d8a99ff, #0bc9cdff, #14fff7ff);
$gradient-bottom-left: linear-gradient(315deg, #8fbfe0ff, #7c77b9ff, #1d8a99ff, #0bc9cdff, #14fff7ff);
$gradient-radial: radial-gradient(#8fbfe0ff, #7c77b9ff, #1d8a99ff, #0bc9cdff, #14fff7ff);

/* Object */
/* {"Pale Cerulean":"8fbfe0","Violet Blue Crayola":"7c77b9","Metallic Seaweed":"1d8a99","Dark Turquoise":"0bc9cd","Turquoise Blue":"14fff7"} */

